<footer>
    <div class="footer-container">
        <div class="footer-content">
            <p>&copy; {{ site.time | date: '%Y' }} JanricoMaulanaS. All Rights Reserved.</p>
            <div class="footer-social">
                <a href="https://github.com/JanricoMaulanaS" target="_blank" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/janrico-maulana-sofyan" target="_blank" aria-label="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://instagram.com/ricoo.maulana" target="_blank" aria-label="Twitter">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>